{
  "ConnectionStrings": {
    "DefaultConnection": "Server=(localdb)\\mssqllocaldb;Database=SnappDoctorDb;Trusted_Connection=true;MultipleActiveResultSets=true"
  },
  "Kavenegar": {
    "ApiKey": "YOUR_KAVENEGAR_API_KEY_HERE"
  },
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*"
} 