@font-face {
    font-family: 'IranSansHandwritten';
    src: url('/fonts/IranSansHandwritten-Light.woff2') format('woff2'),
         url('/fonts/IranSansHandwritten-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'IranSansHandwritten';
    src: url('/fonts/IranSansHandwritten-Regular.woff2') format('woff2'),
         url('/fonts/IranSansHandwritten-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'IranSansHandwritten';
    src: url('/fonts/IranSansHandwritten-Medium.woff2') format('woff2'),
         url('/fonts/IranSansHandwritten-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'IranSansHandwritten';
    src: url('/fonts/IranSansHandwritten-Bold.woff2') format('woff2'),
         url('/fonts/IranSansHandwritten-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
